<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			       http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
</beans>

<!-- Arquivo necessário para a ativar o CDI (Injeção de contexto e dependências) 
	é um recurso do Java Enterprise. Se o arquivo estivar em branco, vai funcionar 
	com as configurações padrões -->